<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.bupt.wechatpost.dao.CommentMapper">
  <resultMap id="ResultComment" type="com.edu.bupt.wechatpost.model.Comment">
    <constructor>
      <idArg column="c_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="p_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="nick_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_content" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <!--定义 sql 片段，之后可以用 <include refid="Base_Column_Lsit"/> 来复用 sql 片段-->
  <sql id="Base_Column_List">
    c_id, p_id, nick_name, c_content
  </sql>

  <select id="selectByPrimaryKey" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where c_id = #{cId,jdbcType=INTEGER}
      and p_id = #{pId,jdbcType=INTEGER}
  </select>

  <!--通过postId查询所有评论-->
  <select id="findAllByPostId" parameterType="java.lang.Integer" resultType="com.edu.bupt.wechatpost.model.Comment">
    select
    <include refid="Base_Column_List" />
    from comment
    where p_id = #{pId, jdbcType = INTEGER}
  </select>

  <!--删除评论-->
  <delete id="deleteByPrimaryKey">
    delete from comment
    where c_id = #{cId,jdbcType=INTEGER}
      and p_id = #{pId,jdbcType=INTEGER}
  </delete>

  <!--根据postId 批量删除评论-->
  <delete id="deleteByOpenId">
    delete from comment
    where p_id = #{pId, jdbcType=INTEGER}
  </delete>

  <!--插入评论（全部参数）-->
  <insert id="insert" parameterType="com.edu.bupt.wechatpost.model.Comment">
    insert into comment (c_id, p_id, nick_name, c_content)
    values (#{cId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR},
      #{cContent,jdbcType=VARCHAR})
  </insert>

  <!--插入评论（部分参数）-->
  <insert id="insertSelective" parameterType="com.edu.bupt.wechatpost.model.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="cContent != null">
        c_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null">
        #{cContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>