<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.bupt.wechatpost.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.edu.bupt.wechatpost.model.Comment" >
    <constructor >
      <idArg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="p_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="c_avatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="open_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <!--定义 sql 片段，之后可以用 <include refid="Base_Column_Lsit"/> 来复用 sql 片段-->
  <sql id="Base_Column_List" >
    c_id, p_id, c_avatar, c_content, open_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where c_id = #{cId,jdbcType=INTEGER}
      and p_id = #{pId,jdbcType=INTEGER}
  </select>

  <!--通过openId, postId查询所有评论-->
  <select id="findAllByPostId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from comment
    where p_id = #{pId,jdbcType=INTEGER}
    and open_id = #{openId,jdbcType=VARCHAR}
  </select>

  <!--通过openId查询所有评论-->
  <select id="findAllByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from comment
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>

  <!--删除评论-->
  <delete id="deleteByPrimaryKey" >
    delete from comment
    where c_id = #{cId,jdbcType=INTEGER}
      and p_id = #{pId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByOpenId" >
    delete from comment
    where c_id = #{cId,jdbcType=INTEGER}
      and open_id = #{openId,jdbcType=VARCHAR}
  </delete>

  <!--插入评论（全部参数）-->
  <insert id="insert" parameterType="com.edu.bupt.wechatpost.model.Comment" >
    insert into comment (c_id, p_id, c_avatar, 
      c_content, open_id)
    values (#{cId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{cAvatar,jdbcType=VARCHAR}, 
      #{cContent,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR})
  </insert>

  <!--插入评论（部分参数）-->
  <insert id="insertSelective" parameterType="com.edu.bupt.wechatpost.model.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="cAvatar != null" >
        c_avatar,
      </if>
      <if test="cContent != null" >
        c_content,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="cAvatar != null" >
        #{cAvatar,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null" >
        #{cContent,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--更新评论（部分参数）-->
  <update id="updateByPrimaryKeySelective" >
    update comment
    <set >
      <if test="cAvatar != null" >
        c_avatar = #{cAvatar,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null" >
        c_content = #{cContent,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
      and p_id = #{pId,jdbcType=INTEGER}
  </update>

  <!--更新评论（全部参数）-->
  <update id="updateByPrimaryKey" >
    update comment
    set c_avatar = #{cAvatar,jdbcType=VARCHAR},
      c_content = #{cContent,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
      and p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>